.sidenav-container {
  height: 11%;
  /* width:0px */
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-drawer-container{
  height:auto !important;
}
