<!-- heading -->
<div class="clr-row">
  <div class="clr-col-xl-12">
      <h5 style="font-weight: bold; font-size: 20px;padding:0px 0 20px 0; color: black;">Create</h5>
  </div>
</div>

<form novalidate [formGroup]="Form" (ngSubmit)="postForm()">
<table class="example-full-width" cellspacing="0">
  <tr>
      <td>
          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Title</mat-label>
              <input formControlName="title" matInput required  />
          </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Project Lead</mat-label>
          <input formControlName="projectLead" matInput required  />
      </mat-form-field>
      </td>
  </tr>

  <tr>
      <td colspan="2">
          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Description</mat-label>
              <textarea formControlName="description" matInput  ></textarea>
          </mat-form-field>
      </td>
  </tr>



    <tr>
      <td>
          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Logo</mat-label>
              <input formControlName="logo" matInput    />
          </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Image</mat-label>
          <input formControlName="image" matInput    />
      </mat-form-field>
      </td>
  </tr>

  
    <tr formArrayName="projectMembers" *ngFor="let item of getControls(); let i = index;" class="example-full-width">
     <section [formGroupName]="i"  class="example-full-width" >

      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Asignee</mat-label>
          <input formControlName="asigneeId" matInput    />
        </mat-form-field>
        
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Role</mat-label>
          <input formControlName="role" matInput    />
        </mat-form-field>
      </td>

     </section>
      

    </tr>

  
  <tr>
    <td>
      <button (click)="addItem()" class="btn-hover" mat-raised-button style="min-width:0px">
        <i class="fas fa-plus"></i>
      </button>
    </td>
  </tr>

  <tr style="margin-top: 5px;">
    <td colspan="2">
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Attachment</mat-label>
          <input formControlName="attachment" matInput    />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Due Data</mat-label>
        <input formControlName="dueDate" matInput   type="date"  />
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Budget</mat-label>
        <input formControlName="budget" matInput   accept="number"  />
      </mat-form-field>
    </td>
  </tr>


</table>

<div class="clr-row">
  <div class="clr-col-xl-12 text-right update-btn">
      <button mat-raised-button  type="submit"
      [disabled]="Form.invalid"
      mat-dialog-close class="btn-hover"  style=" font-weight: 500; outline: none;">Create</button>
  </div>
</div>
</form>

<!-- button  -->

