<app-navbar></app-navbar>
<app-top-section></app-top-section>
<div class="background">
  <div class="clr-row main-row">
    <div class="clr-col-md-12 heading">Apply For Registration</div>
    <div class="clr-col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Select Reason</mat-label>
        <input type="date" formControlName="user_id" matInput required />
      </mat-form-field>
    </div>
    <div class="clr-col-md-12">
      <mat-form-field class="example-full-width comment" appearance="fill">
        <mat-label>Comments</mat-label>
        <textarea
          style="height: 100px"
          matInput
          placeholder="You want to leave because..."
        ></textarea>
      </mat-form-field>
    </div>
    <div class="clr-col-md-12 text-left">
      <button class="submit_button" type="submit" mat-dialog-close>
        Submit
      </button>
    </div>
    <div class="clr-col-md-12 note-row">
        <div class="note">
          Note:
        </div>
        <div class="note-msg">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Eum rerum itaque velit similique enim est quas exercitationem veritatis consequatur quod,
          iusto doloribus esse aspernatur accusantium delectus! Minus natus blanditiis doloribus.
        </div>
    </div>
    <!-- <div class="clr-col-md-11">

  </div> -->
  </div>
</div>
