<app-navbar></app-navbar>
<app-top-section></app-top-section>
<div class="background">
  <form novalidate [formGroup]="Form" (ngSubmit)="postLeave()" >
    <div class="clr-row" style="margin-right: 0%; margin-left: 0%">
      <div class="clr-col-md-12 heading">
        Apply For Leave
      </div>
      <span class="clr-col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Starting Date</mat-label>
          <input type="date" formControlName="from" matInput required />
        </mat-form-field>
      </span>

      <span class="clr-col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Ending Date</mat-label>
          <input formControlName="till" matInput type="date" required />
        </mat-form-field>
      </span>

      <span class="clr-col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Select an option</mat-label>
          <mat-select formControlName="type" >
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
          </mat-select>
        </mat-form-field>
            </span>

      <!-- <span class="clr-col-md-12">
        <mat-form-field appearance="fill">
          <mat-label>Contact Number</mat-label>
          <input formControlName="restaurant_id" matInput required />
        </mat-form-field>
      </span> -->

      <span class="clr-col-md-12">
        <mat-form-field class="example-full-width comment" appearance="fill">
          <mat-label>Reason For Leave</mat-label>
          <textarea
            formControlName="reason"
            style="height: 100px"
            matInput
            placeholder="You want to leave because..."
          ></textarea>
        </mat-form-field>
      </span>

        <div class="clr-col-md-12 text-left">
          <button mat-button class="submit_button" type="submit"  >Submit</button>
        </div>
      </div>

  </form>
</div>
