<!-- heading -->
<div class="clr-row">
    <div class="clr-col-xl-12">
        <h5 style="font-weight: bold; font-size: 20px;padding:0px 0 20px 0; color: black;">Update</h5>
    </div>
</div>

<table class="example-full-width" cellspacing="0">
    <tr>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Items</mat-label>
                <input matInput>
            </mat-form-field>
        </td>

        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput>
            </mat-form-field>
        </td>

        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Quantity</mat-label>
                <input matInput>
            </mat-form-field>
        </td>
    </tr>
</table>

<!-- button  -->

<div class="clr-row">
    <div class="clr-col-xl-12 text-right update-btn">
        <button mat-raised-button style=" font-weight: 500; outline: none;">Update</button>
    </div>
</div>