<app-navbar></app-navbar>
    <!-- main page -->
    <div class="main">
      <div class="left"></div>
      <div class="center">
        <app-top-section></app-top-section>
          <div class="background">
            <div class="document_chart">
              <h2>Submit Documents</h2>
              <div class="document_table">
                <div class="left">Passport Side Photos</div>
                <div class="right">
                  <input
                    type="file"
                    class="file-upload"
                    onchange="console.log(event.target.files)"/>
                </div>
              </div>
              <div class="document_table">
                <div class="left">Passport Side Photos</div>
                <div class="right">
                  <input
                    type="file"
                    class="file-upload"
                    onchange="console.log(event.target.files)"/>
                </div>
              </div>
              <div class="document_table">
                <div class="left">Passport Side Photos</div>
                <div class="right">
                  <input
                    type="file"
                    class="file-upload"
                    onchange="console.log(event.target.files)"/>
                </div>
              </div>
              <div class="document_table">
                <div class="left">Passport Side Photos</div>
                <div class="right">
                  <input
                    type="file"
                    class="file-upload"
                    onchange="console.log(event.target.files)"/>
                </div>
              </div>
              <div class="document_table">
                <div class="left">Passport Side Photos</div>
                <div class="right">
                  <input
                    type="file"
                    class="file-upload"
                    onchange="console.log(event.target.files)"/>
                </div>
              </div>
              <div class="document_table">
                <div class="left">Passport Side Photos</div>
                <div class="right">
                  <input
                    type="file"
                    class="file-upload"
                    onchange="console.log(event.target.files)"/>
                </div>
              </div>
            </div>
            <button class="submit_button"> Submit </button>
          </div>
        </div>
      </div>

