<section class="task-detail-section">
  <div class="header">
  </div>
  <div class="clr-row" >

      <div class="clr-col-xl-7 task-detail-container-header "  >
        
          <div class="task-detail-phase-button">
            <span class="task-detail-phase-text">TO Do</span>
            
          </div>
          <span class="task-detail-phase-button-divider"></span>
          <div class="task-detail-phase-button-arrow" >
            <i class="fa fa-chevron-right task-detail-phase-button-arrow-icon" ></i>
            
          </div>
          <span class="task-detail-phase-button-divider"></span>
          <div class="task-detail-done-button" title="Set to done">
            <i class="fa fa-check"></i>
          </div>
        
      </div>
      <div class="clr-col-xl-5 task-detail-container-header task-detail-topright-section"  >
        <div class="task-detail-Created-Container" >
        
          <span class="task-detail-created-heading">Created</span>
          <span class="task-detail-created-value">Aug 17, 5:38 pm</span>

        </div>
        <div class="task-detail-date-container">
          <div class="task-detail-start-container">
            <span class="task-detail-created-heading">Start Date</span>
          <span class="task-detail-created-value">Aug 17, 5:38 pm</span>
          </div>

          <div class="task-detail-date-arrow" >
            <i class="fa fa-chevron-right task-detail-date-arrow-icon" ></i>  
          </div>


          <div class="task-detail-due-container">
            <span class="task-detail-created-heading">Due Date</span>
            <span class="task-detail-created-value" style="color: #ed4141;">Aug 17, 5:38 pm</span>
          </div>
        </div>
      </div>
    
  </div>
  <div class="clr-row"  style="height: 100%;">
    <div class="clr-col-xl-7 task-detail-container-detail"  >

      
    </div>
    <div class="clr-col-xl-5 task-detail-container-logs"  >asdasd</div>
  </div>
</section>
