<!-- <app-sidenav></app-sidenav> -->
<!-- <app-sidenav></app-sidenav> -->
<!-- <app-home></app-home> -->
<!-- <app-salary-history></app-salary-history> -->
<!-- <app-employee-salary></app-employee-salary> -->
<!-- <app-salary-slip></app-salary-slip> -->
<!-- <app-submit-document></app-submit-document> -->
<!-- <app-login></app-login> -->
<!-- <app-inventory-ticket></app-inventory-ticket> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-top-section></app-top-section> -->
<!-- <app-leave></app-leave> -->
<!-- <app-leave-report></app-leave-report> -->
<!-- <app-registration></app-registration> -->
<!-- <app-notifications></app-notifications> -->
<app-get-leave></app-get-leave>
<router-outlet></router-outlet>
