mat-card{
    width:200px;
    margin-top: 20px;
    /* height:100px */
}
h1,h2,h3,h4,h5,p{
    margin: 0px;
}
.left{
    /* margin-top: 10px; */
    background-color:#f5f6f7;
}

.for-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
mat-card{
    margin-right: 20px;
    border-radius: 10px;
}

/* projects sections  */

.second-row{
    margin: auto;
    margin-top: 20px;
    width: 95%;
}


table {
    width: 100%;
    margin: auto;
    /* margin-top: 10px; */
    /* border-radius:10px; */
    overflow: hidden;
    box-shadow: none!important; 
  }
.table-heaing{
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
}


@media(min-width:600px){
    .left{
        margin-left: 215px;
    }
}
@media(min-width:1024px){
    .left{
        height:100%
    }
}
@media(min-width:768px) and (max-width:1024px){
    .news-right-side{
        width:95%;
        margin:auto;
        margin-top: 15px;

    }
}
@media(max-width:600px){
    .news-right-side{
        width:95%;
        margin:auto;
        margin-top: 15px;

    }
}

