mat-card{
    width:200px;
    height:140px;
    margin-top: 20px;
    /* padding: 0 !important; */
    border-radius: 10px !important;

    /* height:100px */
}
h1,h2,h3,h4,h5,p{
    margin: 0px;
}


.for-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
mat-card{
    margin-right: 20px;
    border-radius: 10px !important;
}

/* projects sections  */

.second-row{
    margin: auto;
    margin-top: 20px;
    width: 95%;
}


table {
    width: 100%;
    margin: auto;
    /* margin-top: 10px; */
    border-radius:0px 0px 10px 10px;
    overflow: hidden;
    box-shadow: none!important; 
  }
.table-heaing{
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
}
 .background-image1{
    background-image: linear-gradient(rgba(149, 122, 247, 0.7), rgba(23, 13, 66, 0.7)), url("../../../assets/pics/projects.jpg");
    background-size: cover;
}




@media(min-width:600px){
    
}
@media(min-width:1024px) and (max-width:1200px){
   
}
@media(min-width:768px) and (max-width:1024px){
    .news-right-side{
        width:95%;
        margin:auto;
        margin-top: 15px;

    }
}
@media(max-width:600px){
    .news-right-side{
        width:95%;
        margin:auto;
        margin-top: 15px;

    }
}

