/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a{
  cursor: pointer;
}
/* class used for employee info tables */
.history-table{
  width:95%;
  margin:auto;
  padding: 10px;
  padding-bottom:15px ;
  border-top:1px solid rgb(182, 181, 181);
  background-color: #f5f5f5;
  margin-bottom: 80px;  
}
  
.blue-submit_button{
  background-color:#2595e6;
  color: #fff;
  padding: 0px 10px 0px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin:10px 0 10px 0;
  font-size: 15px;
  transition:none;
}
.blue-submit_button:hover{
  background-color: #fff;
  color: #2595e6;
  transition:.5s all;
}
/* Admin Panel Drop Down */
.submit_button{
  background-color: #fff;
  color: #2595e6;
  padding: 0px 10px 0px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin:10px 0 10px 0;
  font-size: 15px;
  transition:none;
  
}
.submit_button:hover{
  background-color: #2595e6;
  color: #fff;
  transition:.5s all;
}
mat-raised-button:focus{
  outline:0 !important;
  border:0;
  background-color: #fff !important;
}
.example-full-width {
  width: 100%;
}

