<div class="image">
  <img src="../../assets/pics/nastech-logo.png" alt="" />
  <h3>Salary Slip for the month of Month of May</h3>
</div>

<div class="first-row">
  <div class="first-table">
    <table>
      <tr>
        <th>Employee</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>CNIC</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>Designation</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>Total Days</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>Per Day Salary</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>Bank</th>
        <td>Dummy Text</td>
      </tr>
    </table>
  </div>

  <div class="first-table">
    <table>
      <tr>
        <th>salman</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>salman</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>salman</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>salman</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>salman</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>salman</th>
        <td>Dummy Text</td>
      </tr>

    </table>
  </div>
</div>

<!-- second row -->

<div class="first-row">
  <div class="first-table">
    <table>
      <tr>
        <th>Employee</th>
        <th>Actual</th>
        <th>Earning</th>
      </tr>

      <tr>
        <th>CNIC</th>
        <td>Dummy Text</td>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>Designation</th>
        <td>Dummy Text</td>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>Total Days</th>
        <td>Dummy Text</td>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>Per Day Salary</th>
        <td>Dummy Text</td>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>Bank</th>
        <td>Dummy Text</td>
        <td>Dummy Text</td>
      </tr>
    </table>
  </div>

  <div class="first-table">
    <table>
      <tr>
        <th>Title</th>
        <th>Amount</th>
      </tr>

      <tr>
        <th>salman</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>salman</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>salman</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>salman</th>
        <td>Dummy Text</td>
      </tr>

      <tr>
        <th>salman</th>
        <td>Dummy Text</td>
      </tr>

    </table>
  </div>
</div>


