<!-- heading -->
<div class="clr-row">
    <div class="clr-col-xl-12">
        <h5 style="font-weight: bold; font-size: 20px;padding:0px 0 20px 0; color: black;">Create</h5>
    </div>
</div>

<form novalidate [formGroup]="Form" (ngSubmit)="postInventory()">
<table class="example-full-width" cellspacing="0">
    <tr>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Items</mat-label>
                <input formControlName="item" matInput required  />
            </mat-form-field>
        </td>

        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <input formControlName="description" matInput required  />
            </mat-form-field>
        </td>
    
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Quantity</mat-label>
                <input formControlName="quantity" matInput required accept="number"  />
            </mat-form-field>
        </td>
    </tr>
</table>
<div class="clr-row">
    <div class="clr-col-xl-12 text-right update-btn">
        <button mat-raised-button  type="submit"
        [disabled]="Form.invalid"
        mat-dialog-close class="btn-hover"  style=" font-weight: 500; outline: none;">Create</button>
    </div>
</div>
</form>

<!-- button  -->

